<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/home.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" ></script>
    

    <title>Home Page</title>
</head>
<body>
    <header>
        <h2 class="display-5" align="center">Online Store</h2>
        <p class="d-inline display-6" id="HeaderName">Hi name!</p>
        <ul class="d-inline  float-right">
          
            <li class="d-inline"><a href="/user" class="btn btn-primary">Home</a></li>
            <li class="d-inline"><a href="/user/my-products" class="btn btn-primary">My Products</a></li>
            <li class="d-inline"><a href="/user/add-product" class="btn btn-primary">Add Product</a></li>
            <li class="d-inline"><a href="/user/cart" class="btn btn-primary">Cart</a></li>
            <li class="d-inline"><a href="/user/logout" class="btn btn-primary">Logout</a></li>
    </header>
    <div class="container">
        <div class="row" id="product-list">
            <!-- linear space is divided in 12 units, col-3 means each col takes 3 units -->  

        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
    <script src="../js/home.js"></script>
</body>
</html>